/HelloBolt.NET.suo
/HelloBolt.NET.csproj.user
/HelloBolt.NET.sln.docstates.suo
/*.suo
/Bin/Debug/Test.vshost.exe
/BOLTStack/obj
/Test/obj
/csharp/BOLTStack/obj
/csharp/Test/obj
/csharp/Bin/
/csharp/Bin/Debug